.middle_num{
    display: inline-block;
    width: 200px;
    text-align: center;
}
.enter{
    float: right;
    margin-left: 10px;
}
.enter:hover{
    color: red;
    cursor: pointer;
}
.inline-box{
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: auto;
}